astroid==4.0.4
certifi==2026.5.20
charset-normalizer==3.4.7
defusedxml==0.7.1
dill==0.4.1
idna==3.18
iniconfig==2.3.0
isort==8.0.1
mccabe==0.7.0
numpy==2.4.6
packaging==26.2
pandas==3.0.3
platformdirs==4.10.0
pluggy==1.6.0
Pygments==2.20.0
pylint==4.0.5
pytest==9.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
six==1.17.0
tomlkit==0.15.0
urllib3==2.7.0
youtube-transcript-api==1.2.4
